# Data Science Tools and Ecosystem

## Author:
Diego Arteaga B.

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**:
- List some popular languages for Data Science
- List common libraries used for Data Science
- Make a table showing some Data Science tools
- Write some examples of simple arithmetic using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Plotly
5. TensorFLow

| Data Science Tools |
|--------------------|
| Jupyter|
| Apache Spark|
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
print(1+1)
print(pow(4,3))
print(3**5)
print(4+123)

2
64
243
127

In [17]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
min = 200
mintohr = 60 
print(min, "is equivalent to ", min/mintohr, "hours")

200 is equivalent to  3.3333333333333335 hours